@use "../../../assets/layout/scss/mixins";

.header_wrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  svg{
    @include mixins.lower-than('lg') {
      max-width: 150px;
    }
  }
}

.container {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  @include mixins.lower-than('lg') {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .header_right {
    @include mixins.lower-than('lg') {
      flex-direction: row-reverse;
    }
  }
}
