@use '../../../assets/layout/scss/mixins';

.j-contact-form {
  max-width: 590px;

  .recruitmentForm {
    label {
      font-weight: 700;
      @include mixins.fontSize(14);
    }
  }

  @include mixins.lower-than('lg') {
    h2 {
      @include mixins.fontSize(28);
    }
    .description {
      line-height: 24px;
    }
  }
}

