<div [formGroup]="recruitmentForm" class="j-contact-form mx-auto">
  <h2 class="text-center block pb-4">{{'contact.title' | translate}}</h2>
  <div class="description text-center pb-7">
      {{'contact.subtitle' | translate}}
  </div>
  <div class="grid recruitmentForm">
    <div class="col-12">
      <j-input [label]="'contact.form.employeesCount' | translate"  [type]="'range'"
               [control]="recruitmentForm.get('employeesCount')"></j-input>
    </div>
    <div class="col-12 pb-4">
      <j-input [label]="'contact.form.fullName' | translate" [inputId]="'fullName'" [required]="true" [type]="'text'"
               [placeholder]="'contact.form.fullNamePlaceholder' | translate" [control]="recruitmentForm.get('fullName')"></j-input>
    </div>
    <div class="col-12 pb-4">
      <j-input [label]="'contact.form.email' | translate" [inputId]="'email'" [required]="true" [type]="'text'" [placeholder]="'contact.form.emailPlaceholder' | translate"
               [control]="recruitmentForm.get('email')"></j-input>
    </div>
    <div class="lg:col-6 col-12 pb-4">
      <div class="pr-1">
        <j-input [label]="'contact.form.nip' | translate" [inputId]="'nip'" [type]="'text'" [required]="true" [placeholder]="'contact.form.nipPlaceholder' | translate"
                 [control]="recruitmentForm.get('nip')"></j-input>
      </div>
    </div>
    <div class="lg:col-6 col-12 pb-4">
      <div class="pl-1">
        <j-input [label]="'contact.form.company' | translate" [inputId]="'companyName'" [type]="'text'" [placeholder]="'contact.form.companyPlaceholder' | translate"
                 [control]="recruitmentForm.get('companyName')"></j-input>
      </div>
    </div>
    <div class="col-12 pb-4">

      <j-input [label]="'contact.form.message' | translate" [required]="true" [type]="'textarea'" [placeholder]="'contact.form.messagePlaceholder' | translate"
               [control]="recruitmentForm.get('message')"></j-input>
    </div>
    <div class="col-12">
<!--      <label for="consents" class="j-checkbox">-->
<!--        <input type="checkbox" name="checkbox" id="consents" formControlName="consents">-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>-->
    </div>
    <div class="col-12">
      <j-button [label]="'contact.form.submit' | translate" [btnClass]="'w-full'" [size]="'large'" (clicked)="submitForm()"></j-button>
    </div>
  </div>
</div>

