@use '../../../assets/layout/scss/mixins';

label {
  font-weight: 700;
  @include mixins.fontSize(14);
}

.has-error {
  input.j-input, textarea.j-textarea {
    border-color: var(--red-500);
  }
}

input.j-input, textarea.j-textarea {
  background: var(--black-800);
  border: 1px solid var(--black-500);
  border-radius: 8px;
  color: var(--text-white);
  @include mixins.fontSize(16);
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.j-range {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 24px;
  background: var(--black-500);
  outline: none;
  cursor: default;

}

.j-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--black-900);
  cursor: pointer;
  border: 4px solid var(--red-500);
}

.j-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--black-900);
  border: 4px solid var(--red-500);
  cursor: pointer;
}

.j-range-tooltip, .j-tooltip-input {
  font-weight: 700;
  @include mixins.fontSize(20);
  left: 319.583px;
  position: absolute;
  transition: 0.1s ease;
  top: 30px;
}

.j-slider-container {
  position: relative;
}

.j-tooltip-input {
  border: none;
  background: transparent;
  color: var(--text-white);
}
