@use "variables";

@mixin fontSize($size) {
  $remSize: $size / variables.$mainFontSize;
  font-size: #{$remSize}rem;
}

@mixin padding($values...) {
  $converted-values: ();

  @each $value in $values {
    $converted-values: append($converted-values, ($value / variables.$mainFontSize) + rem);
  }

  padding: $converted-values;
}

@mixin lower-than($breakpoint) {
  @if $breakpoint == "sm" {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == "md" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "lg" {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "xl" {
    @media (max-width: 1200px) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

@mixin higher-than($breakpoint) {
  @if $breakpoint == "sm" {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $breakpoint == "md" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "lg" {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "xl" {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
