<div class="article_wrapper">
  <div class="container_nopadding py-7">
    <div class="lg:p-8 p-4 article">
      <h1>Warunki i zasady</h1>
      <h6>Korzytając z tej strony internetowej, uznaje się, że przeczytałeś i zgadzasz się na poniższe warunki
        i zasady.</h6>
      <h3>Oświadczenie o prywatności</h3>
      <p>Jesteśmy zobowiązani do ochrony Twojej prywatności. Upoważnieni pracownicy w firmie używają wszelkich
        informacji zebranych od indywidualnych klientów tylko w zakresie niezbędnym do wykonywania ich obowiązków.
        Stale przeglądamy nasze systemy i dane, aby zapewnić jak najlepszą obsługę naszym klientom. Parlament wprowadził
        określone przestępstwa dotyczące nieautoryzowanych działań przeciwko systemom komputerowym i danym. Będziemy
        badać wszelkie takie działania w celu ich ścigania i/lub podjęcia postępowania cywilnego w celu odzyskania
        odszkodowań od osób odpowiedzialnych.</p>
      <h3>Poufność</h3>
      <p>Rekordy kandydatów są traktowane jako poufne i dlatego nie będą ujawniane żadnej osobie trzeciej, chyba że
        wymagają tego przepisy prawa. Kandydaci mają prawo do wglądu w i kopii wszelkich zapisów dotyczących kandydatów,
        które przechowujemy, pod warunkiem, że zostaniemy poinformowani z odpowiednim wyprzedzeniem o takiej prośbie.
        Kandydaci proszeni są o zachowanie kopii wszelkich materiałów wydanych w związku z świadczeniem naszych usług.
        W odpowiednich przypadkach wydamy kandydatom odpowiednie informacje pisemne, ulotki lub kopie zapisów w ramach
        uzgodnionego kontraktu, dla dobra obu stron.</p>
      <p>Nie będziemy sprzedawać, dzielić się ani wynajmować Twoich danych osobowych osobom trzecim ani używać Twojego
        adresu e-mail do wysyłania niezamówionej poczty. Wszelkie e-maile wysyłane przez Jober24 będą dotyczyć wyłącznie
        świadczenia uzgodnionych usług i produktów.</p>
      <h3>Pracodawcy</h3>
      <p>Jober24 nie składa żadnych oświadczeń ani gwarancji dotyczących:</p>
      <ul>
        <li>istnienia lub dostępności jakiejkolwiek oferty pracy ogłoszonej na stronie Jober24;</li>
        <li>czy jakikolwiek pracodawca poprosi o Twoje CV, zaprosi Cię na rozmowę lub zatrudni Cię;</li>
        <li>czy jakikolwiek pracodawca zachowa poufność Twoich danych osobowych lub informacji przekazanych temu
          pracodawcy lub kandydatowi;</li>
        <li>ostatecznych warunków i okresu trwania jakiejkolwiek oferty pracy uzyskanej poprzez stronę Jober24.</li>
      </ul>
      <h3>Wyłączenia i ograniczenia</h3>
      <p>Informacje na tej stronie internetowej są udostępniane w formie "tak jak jest". W najszerszym zakresie
        dozwolonym przez prawo, Jober24:</p>
      <ul>
        <li>wyłącza wszelkie oświadczenia i gwarancje dotyczące tej strony internetowej i jej zawartości lub które
          mogą być dostarczane przez afiliantów lub inne osoby trzecie, w tym w odniesieniu do jakichkolwiek nieścisłości
          lub pominięć na tej stronie i/lub literaturze Jober24;</li>
        <li>wyłącza wszelką odpowiedzialność za szkody wynikające z lub w związku z korzystaniem z tej strony. Obejmuje
          to, bez ograniczeń, straty bezpośrednie, utratę biznesu lub zysków (czy to utrata takich zysków była przewidywalna,
          wystąpiła w normalnym toku rzeczy, czy poinformowałeś Jober24 o możliwości takiej straty), uszkodzenie Twojego
          komputera, oprogramowania komputerowego, systemów i programów oraz danych na nich lub jakiekolwiek inne szkody
          bezpośrednie, pośrednie, wynikowe i przypadkowe.</li>
      </ul>
      <p>Jober24 nie wyłącza jednak odpowiedzialności za śmierć lub uszczerbek na zdrowiu spowodowany przez swoje zaniedbanie.
        Powyższe wyłączenia i ograniczenia stosują się tylko w zakresie dozwolonym przez prawo. Żadne z Twoich ustawowych praw
        jako konsumenta nie są naruszone.</p>
      <h3>Pliki dziennika</h3>
      <p>Używamy adresów IP do analizy trendów, administracji strony, śledzenia ruchu użytkowników i zbierania ogólnych
        informacji demograficznych do użytku zbiorczego. Adresy IP nie są powiązane z danymi osobowymi. Dodatkowo, w celach
        administracyjnych, wykrywania wzorców użytkowania i rozwiązywania problemów, nasze serwery internetowe automatycznie
        rejestrują standardowe informacje dostępu, w tym typ przeglądarki, godziny dostępu/otwierania poczty, żądany URL
        i URL polecający. Te informacje nie są udostępniane osobom trzecim i są używane wyłącznie w Jober24 na zasadzie
        potrzeby wiedzy. Jakiekolwiek dane umożliwiające identyfikację osoby nie będą używane w sposób inny niż opisany
        powyżej bez Twojej wyraźnej zgody.</p>
      <h3>Cookies</h3>
      <p>Jak większość interaktywnych stron internetowych, nasza strona [lub dostawca usług internetowych] używa cookies,
        aby umożliwić nam pobranie danych użytkownika podczas każdej wizyty. Cookies są używane w niektórych obszarach naszej
        strony, aby umożliwić funkcjonalność tych obszarów i ułatwić korzystanie z witryny odwiedzającym. Niektórzy z naszych
        partnerów afiliacyjnych mogą również używać cookies.</p>
      <h3>Linki z tej strony internetowej</h3>
      <p>Nie monitorujemy ani nie przeglądamy treści stron internetowych innych firm, które są linkowane z naszej strony.
        Opinie wyrażane lub materiały pojawiające się na tych stronach nie muszą być zgodne lub popierane przez nas i nie
        należy ich traktować jako nasze stanowisko. Prosimy pamiętać, że nie ponosimy odpowiedzialności za praktyki
        dotyczące prywatności lub treść tych stron. Zachęcamy naszych użytkowników do bycia świadomymi, gdy opuszczają naszą
        stronę i do zapoznania się z polityką prywatności tych stron. Powinieneś samodzielnie ocenić bezpieczeństwo i
        wiarygodność każdej innej strony powiązanej z tą stroną lub uzyskanej za jej pośrednictwem przed ujawnieniem
        jakichkolwiek informacji osobowych. Jober24 nie przyjmuje odpowiedzialności za jakiekolwiek straty lub szkody
        wynikłe w jakikolwiek sposób, spowodowane ujawnieniem przez Ciebie danych osobowych osobom trzecim.</p>
      <h3>Powiadomienie o prawach autorskich</h3>
      <p>Prawo autorskie oraz inne odpowiednie prawa własności intelektualnej istnieją na wszystkich tekstach dotyczących
        usług Jober24 oraz pełnej zawartości tej strony internetowej.</p>
      <h3>Ogólne</h3>
      <p>Jeżeli jakiekolwiek postanowienie tych warunków zostanie uznane za nieważne lub niewykonalne z jakiegokolwiek
        powodu (w tym, ale nie wyłącznie, wyłączenia i ograniczenia określone powyżej), to nieważne lub niewykonalne
        postanowienie zostanie oddzielone od tych warunków, a pozostałe postanowienia będą nadal obowiązywać. Brak
        egzekwowania przez Jober24 któregokolwiek z postanowień zawartych w niniejszych Warunkach i Zasadach oraz jakiejkolwiek
        Umowy, lub brak podjęcia decyzji o jej rozwiązaniu, nie będzie interpretowane jako zrzeczenie się takich postanowień
        i nie wpłynie na ważność tych Warunków i Zasad ani jakiejkolwiek Umowy czy jej części, ani prawa do egzekwowania
        każdego z postanowień. Niniejsze Warunki i Zasady nie mogą być zmieniane, modyfikowane, różnicowane ani uzupełniane
        bez pisemnej zgody podpisanej przez odpowiednio upoważnionych przedstawicieli firmy.</p>
      <h3>Powiadomienie o zmianach</h3>
      <p>Zastrzegamy sobie prawo do zmiany tych warunków od czasu do czasu, gdy uznamy to za stosowne, a Twoje dalsze
        korzystanie z tej strony będzie oznaczać akceptację tych zmian. Jeśli nastąpią jakiekolwiek zmiany w naszej polityce
        prywatności, ogłosimy je na naszej stronie głównej oraz na innych kluczowych stronach naszej witryny. Jeśli
        nastąpią zmiany w sposobie, w jaki używamy danych osobowych naszych klientów, powiadomienie zostanie wysłane
        pocztą elektroniczną lub pocztową do osób, których te zmiany dotyczą. Jakiekolwiek zmiany w naszej polityce
        prywatności będą opublikowane na naszej stronie internetowej 30 dni przed ich wejściem w życie. Zaleca się
        regularne przeglądanie tego oświadczenia.</p>
    </div>
  </div>
</div>
