<div class="article_wrapper">
    <div class="container_nopadding py-7">
        <div class="lg:p-8 p-4 article">
            <h1>{{ 'termsConditions.title' | translate }}</h1>
            <h6>{{ 'termsConditions.subtitle' | translate }}</h6>
            <h3>{{ 'termsConditions.privacyStatement.heading' | translate }}</h3>
            <p>{{ 'termsConditions.privacyStatement.content' | translate }}</p>
            <h3>{{ 'termsConditions.confidentiality.heading' | translate }}</h3>
            <p>{{ 'termsConditions.confidentiality.content1' | translate }}</p>
            <p>{{ 'termsConditions.confidentiality.content2' | translate }}</p>
            <h3>{{ 'termsConditions.employers.heading' | translate }}</h3>
            <p>{{ 'termsConditions.employers.intro' | translate }}</p>
            <ul>
                @for (service of employersList$ | async; let i = $index; track i) {
                    <li>
                        {{ service }}
                    </li>
                }
            </ul>
            <h3>{{ 'termsConditions.exclusionsLimitations.heading' | translate }}</h3>
            <p>{{ 'termsConditions.exclusionsLimitations.intro' | translate }}</p>
            <ul>
                @for (service of exclusionsLimitationsList$ | async; let i = $index; track i) {
                    <li>
                        {{ service }}
                    </li>
                }
            </ul>
            <p>{{ 'termsConditions.exclusionsLimitations.disclaimer' | translate }}</p>
            <h3>{{ 'termsConditions.logFiles.heading' | translate }}</h3>
            <p>{{ 'termsConditions.logFiles.content' | translate }}</p>

            <h3>{{ 'termsConditions.cookies.heading' | translate }}</h3>
            <p>{{ 'termsConditions.cookies.content' | translate }}</p>

            <h3>{{ 'termsConditions.links.heading' | translate }}</h3>
            <p>{{ 'termsConditions.links.content' | translate }}</p>

            <h3>{{ 'termsConditions.copyright.heading' | translate }}</h3>
            <p>{{ 'termsConditions.copyright.content' | translate }}</p>

            <h3>{{ 'termsConditions.general.heading' | translate }}</h3>
            <p>{{ 'termsConditions.general.content' | translate }}</p>

            <h3>{{ 'termsConditions.changesNotice.heading' | translate }}</h3>
            <p>{{ 'termsConditions.changesNotice.content' | translate }}</p>
        </div>
    </div>
</div>
