@import "../node_modules/primeflex/primeflex.scss";
@import "assets/layout/scss/main";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@keyframes fadeInOut {
  0% { opacity: 0;  }
  10% { opacity: 1;  }
  90% { opacity: 1; }
  100% { opacity: 0;  }
}

html{
  scroll-behavior: smooth;
}

a[routerLink] {
  cursor: pointer;
}
