<div class="article_wrapper">
    <div class="container_nopadding py-7">
        <div class="lg:p-8 p-4 article">
            <h1>{{ 'privacyPolicy.title' | translate }}</h1>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.introduction.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.introduction.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.introduction.content2' | translate }}</p>
            <p>{{ 'privacyPolicy.introduction.content3' | translate }}</p>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.dataCollection.heading' | translate }}</h3>
            <p>
                <strong>{{ 'privacyPolicy.dataCollection.candidateData.title' | translate }}</strong> {{ 'privacyPolicy.dataCollection.candidateData.content' | translate }}
            </p>
            <p>
                <strong>{{ 'privacyPolicy.dataCollection.clientData.title' | translate }}</strong> {{ 'privacyPolicy.dataCollection.clientData.content' | translate }}
            </p>
            <p>
                <strong>{{ 'privacyPolicy.dataCollection.websiteUsers.title' | translate }}</strong> {{ 'privacyPolicy.dataCollection.websiteUsers.content' | translate }}
            </p>
            <p>{{ 'privacyPolicy.dataCollection.additionalInfo' | translate }}</p>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.dataUsage.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.dataUsage.intro' | translate }}</p>
            <ul>
                @for (purpose of dataUsagePurposes$ | async; let i = $index; track i) {
                    <li>
                        {{ purpose }}
                    </li>
                }
            </ul>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.dataSharing.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.dataSharing.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.dataSharing.content2' | translate }}</p>
            <ul>
                @for (service of dataSharingServices$ | async; let i = $index; track i) {
                    <li>
                        {{ service }}
                    </li>
                }
            </ul>
            <p>{{ 'privacyPolicy.dataSharing.content2' | translate }}</p>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.dataTransfer.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.dataTransfer.content' | translate }}</p>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.dataStorage.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.dataStorage.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.dataStorage.content2' | translate }}</p>
            <p>{{ 'privacyPolicy.dataStorage.content3' | translate }}</p>
            <h3 class="wp-block-heading"><strong>{{ 'privacyPolicy.cookies.heading' | translate }}</strong></h3>
            <p [innerHTML]="'privacyPolicy.cookies.content1' | translate"></p>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.cookies.policyHeading' | translate }}</h3>
            <p>{{ 'privacyPolicy.cookies.policyContent1' | translate }}</p>
            <p>{{ 'privacyPolicy.cookies.cookieTypes.heading' | translate }}</p>
            <ul>
                @for (cookieType of cookieTypes$ | async; let i = $index; track i) {
                    <li [innerHTML]="cookieType"></li>
                }
            </ul>
            <p>{{ 'privacyPolicy.cookies.legalBasis' | translate }}</p>
            <p>{{ 'privacyPolicy.cookies.retention' | translate }}</p>
            <p>{{ 'privacyPolicy.cookies.optOut' | translate }}</p>
            <p>{{ 'privacyPolicy.cookies.consentManagement' | translate }}</p>
            <p><strong>{{ 'privacyPolicy.cookies.analyticalTools.heading' | translate }}</strong><br>
                {{ 'privacyPolicy.cookies.analyticalTools.content' | translate }}</p>
            <ul>
                @for (tool of analyticalTools$ | async; let i = $index; track i) {
                    <li>{{ tool }}</li>
                }
            </ul>
            <h3 class="wp-block-heading">{{ 'privacyPolicy.sslEncryption.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.sslEncryption.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.sslEncryption.content2' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.googleAnalytics.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.googleAnalytics.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.googleAnalytics.content2' | translate }}</p>
            <p>{{ 'privacyPolicy.googleAnalytics.content3' | translate }}</p>
            <p>{{ 'privacyPolicy.googleAnalytics.content4' | translate }}</p>
            <p>{{ 'privacyPolicy.googleAnalytics.content5' | translate }}</p>
            <p>{{ 'privacyPolicy.googleAnalytics.content6' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.googleWebFonts.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.googleWebFonts.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.googleWebFonts.content2' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.googleTagManager.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.googleTagManager.content' | translate }}
            </p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.audioVideoConferences.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.audioVideoConferences.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.audioVideoConferences.content2' | translate }}</p>
            <p>{{ 'privacyPolicy.audioVideoConferences.content3' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.legalBasis.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.legalBasis.content' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.legitimateInterests.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.legitimateInterests.content' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.retentionPeriod.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.retentionPeriod.content' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.dataSubjectRights.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.dataSubjectRights.content1' | translate }}</p>
            <p>{{ 'privacyPolicy.dataSubjectRights.content2' | translate }}</p>
            <ul>
                @for (right of dataSubjectRights$ | async; let i = $index; track i) {
                    <li>{{ right }}</li>
                }
            </ul>
            <p>{{ 'privacyPolicy.dataSubjectRights.contact' | translate }}</p>
            <p>{{ 'privacyPolicy.dataSubjectRights.identity' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.complaints.heading' | translate }}</h3>
            <p [innerHTML]="'privacyPolicy.complaints.content1' | translate"></p>
            <p>{{ 'privacyPolicy.complaints.content2' | translate }}</p>

            <h3 class="wp-block-heading">{{ 'privacyPolicy.changes.heading' | translate }}</h3>
            <p>{{ 'privacyPolicy.changes.content' | translate }}</p>

        </div>
    </div>
</div>

