<div class="article_wrapper">
  <div class="container_nopadding py-7">
    <div class="lg:p-8 p-4 article">
      <h1>Polityka Prywatności</h1>
      <h3 class="wp-block-heading">Wprowadzenie</h3>
      <p>Jober24 Group GmbH („Jober24”) zobowiązuje się do ochrony prywatności i poufności danych osobowych
        wszystkich naszych klientów, kandydatów do pracy oraz innych osób trzecich.</p>
      <p>Ta Polityka Prywatności i Ochrony Danych wyjaśnia, jak zbieramy, używamy, przetwarzamy i chronimy dane osobowe
        zgodnie z
        Ustawą o Ochronie Danych Osobowych (FADP), Ogólnym Rozporządzeniem o Ochronie Danych Osobowych (GDPR) oraz
        innymi
        obowiązującymi przepisami prawnymi.</p>
      <p>Wszelkie pytania i prośby dotyczące danych osobowych mogą być wysyłane do naszego Inspektora Ochrony Danych
        poprzez wysłanie e-maila na adres: admin&#64;jober24.ch lub telefonicznie: +41 0 41 5 111 999, lub pocztą na
        adres:
        Jober24 Group GmbH Neuhofstrasse 12, 6340 Baar.</p>
      <h3 class="wp-block-heading">Jakie dane osobowe zbieramy?</h3>
      <p><strong>DANE KANDYDATÓW:</strong>&nbsp;Aby zapewnić najlepsze możliwości zatrudnienia dostosowane do Ciebie,
        musimy przetwarzać określone informacje na Twój temat. Prosimy tylko o szczegóły, które naszym zdaniem
        rzeczywiście pomogą nam pomóc Tobie, takie jak Twoje imię, wiek, dane kontaktowe, wykształcenie, historia
        zatrudnienia, kontakty alarmowe, status imigracyjny, informacje finansowe (jeśli musimy przeprowadzić kontrolę
        finansową), numer ubezpieczenia społecznego (a także możesz wybrać, aby podzielić się z nami innymi istotnymi
        informacjami). W razie potrzeby i zgodnie z lokalnymi przepisami i wymaganiami, będziemy także zbierać
        informacje dotyczące Twojego zdrowia, informacji o różnorodności lub szczegóły jakichkolwiek skazań karnych.</p>
      <p><strong>DANE KLIENTÓW:</strong>&nbsp;Jeśli jesteś klientem Jober24, musimy zbierać i używać informacji na Twój
        temat lub na temat osób w Twojej organizacji w trakcie świadczenia usług związanych z poszukiwaniem kandydatów
        odpowiednich dla Ciebie lub Twojej organizacji.</p>
      <p><strong>UŻYTKOWNICY STRONY INTERNETOWEJ:</strong>&nbsp;Zbieramy ograniczoną ilość danych od użytkowników naszej
        strony internetowej, które wykorzystujemy, aby poprawić Twoje doświadczenia podczas korzystania z naszej strony
        internetowej lub aplikacji mobilnych oraz aby pomóc nam zarządzać świadczonymi usługami. Obejmuje to informacje
        takie jak sposób korzystania ze strony internetowej, częstotliwość dostępu do strony oraz godziny, w których
        nasza strona jest najbardziej popularna.</p>
      <p>Jeśli chciałbyś dowiedzieć się więcej o danych, które zbieramy na Twój temat podczas odwiedzania naszej strony
        internetowej, kliknij tutaj.</p>
      <h3 class="wp-block-heading">Jak wykorzystujemy dane osobowe</h3>
      <p>Dane osobowe będą zbierane i przetwarzane przez nas w następujących celach:</p>
      <ul>
        <li>Aby najlepiej dostosować treści i usługi do Twoich preferencji.</li>
        <li>Aby informować Cię drogą mailową, telefoniczną i/lub pocztową o naszych usługach.</li>
        <li>Aby dostarczyć inne usługi – takie jak newslettery lub informacje o nadchodzących wydarzeniach – które
          możemy Ci zaoferować.
        </li>
        <li>Aby pomóc nam tworzyć, publikować i ulepszać treści oraz usługi najbardziej odpowiednie dla Ciebie.</li>
        <li>Aby zapewnić, że treści i usługi oferowane przez stronę internetową są prezentowane w najbardziej efektywny
          sposób dla Ciebie i Twojego urządzenia.
        </li>
        <li>Aby umożliwić Ci udział w interaktywnych funkcjach, kiedy zdecydujesz się to zrobić.</li>
        <li>Aby dalej rozwijać i ulepszać stronę internetową, treści oraz nasze usługi i systemy.</li>
      </ul>
      <h3 class="wp-block-heading">Udostępnianie danych stronom trzecim</h3>
      <p>Udostępnimy Twoje dane osobowe innym podmiotom w naszej grupie w ramach naszych regularnych działań
        sprawozdawczych dotyczących wyników firmy, w kontekście reorganizacji biznesowej lub ćwiczenia restrukturyzacji
        grupy, wsparcia w zakresie utrzymania systemów oraz hostingu danych. Podmioty grupowe są zobowiązane do podjęcia
        odpowiednich środków bezpieczeństwa, aby chronić Twoje dane osobowe zgodnie z naszymi politykami.</p>
      <p>Korzytamy z usług niektórych dostawców zewnętrznych (tzw. „procesorów”), którzy przetwarzają dane dla nas na
        podstawie ścisłych instrukcji i wiążącej umowy. Nasi procesorzy świadczą następujące usługi:</p>
      <ul>
        <li>Usługi IT</li>
        <li>Chmurowe przechowywanie danych</li>
        <li>Konsultacje dotyczące ochrony danych</li>
        <li>Doradztwo prawne</li>
        <li>Usługi księgowe</li>
      </ul>
      <p>Procesorzy są zobowiązani do podjęcia odpowiednich środków bezpieczeństwa w celu ochrony Twoich danych
        osobowych zgodnie z naszymi politykami. Nie pozwalamy naszym procesorom wykorzystywać Twoich danych osobowych do
        własnych celów. Udzielamy im zgody na przetwarzanie Twoich danych osobowych wyłącznie w określonych celach i
        zgodnie z naszymi instrukcjami.</p>
      <h3 class="wp-block-heading">Przekazywanie danych do innych krajów lub organizacji międzynarodowych</h3>
      <p>Przekazujemy Twoje dane osobowe podmiotom w naszej grupie w UE i możemy także przekazywać te dane poza UE.
        Jeśli tak się stanie, możesz oczekiwać podobnego poziomu ochrony danych osobowych jak w Wielkiej Brytanii i
        UE.</p>
      <h3 class="wp-block-heading">Gdzie przechowujemy i przetwarzamy Twoje dane osobowe</h3>
      <p>Przechowujemy Twoje informacje w naszej elektronicznej bazie danych, która jest przechowywana na naszych
        serwerach na miejscu. Codziennie uzyskujemy dostęp do naszych serwerów w ramach codziennych działań biznesowych
        z zabezpieczonej platformy, która jest chroniona hasłem i ma ścisłe ograniczenia dostępu.</p>
      <p>Wszystkie informacje, które nam przekazujesz, są przechowywane na naszych bezpiecznych serwerach. Niestety,
        transmisja informacji przez Internet nie jest całkowicie bezpieczna. Chociaż dokładamy wszelkich starań, aby
        chronić Twoje dane osobowe, nie możemy zagwarantować bezpieczeństwa Twoich danych przesyłanych na naszą stronę;
        każda transmisja odbywa się na Twoje własne ryzyko. Po otrzymaniu Twoich danych, będziemy stosować ścisłe
        procedury i funkcje bezpieczeństwa, aby zapobiec nieautoryzowanemu dostępowi.</p>
      <p>Jako firma dbająca o środowisko, staramy się ograniczyć ilość materiałów drukowanych, zwłaszcza tych
        zawierających dane osobowe. W przypadku posiadania jakichkolwiek wydrukowanych danych osobowych, np. CV, nasza
        polityka firmy nakazuje, aby dokumenty nie były pozostawiane na biurkach i były zamykane codziennie wieczorem.
        Niszczymy wszystkie poufne dokumenty codziennie i co tydzień.</p>
      <h3 class="wp-block-heading"><strong>Użycie ciasteczek</strong></h3>
      <p>Ciastko to mały plik danych, który jest wysyłany z serwera internetowego do przeglądarki, gdy ta odwiedza
        stronę serwera. Dowiedz się więcej na temat używania ciasteczek na&nbsp;<a
          href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>. Ciasteczka są używane na stronie
        jober24.ch, aby zapamiętać Twoje logowanie, śledzić ruch w sieci na podstawie zbiorczych danych, aby żadne osoby
        nie były identyfikowane, zapamiętać informacje o sesji, takie jak Twoje ostatnie wyszukiwanie (te informacje są
        usuwane za każdym razem, gdy zamkniesz swoją przeglądarkę). Większość przeglądarek pozwala na wyłączenie
        ciasteczek. Jeśli chcesz dowiedzieć się, jak to zrobić, zapoznaj się z menu pomocy w swojej przeglądarce. Jednak
        wyłączenie ciasteczek ograniczy korzystanie z naszej strony internetowej.</p>
      <h3 class="wp-block-heading">Polityka Prywatności dla Ciasteczek</h3>
      <p>Ta strona używa ciasteczek. Ciasteczka to pliki tekstowe, które zawierają dane z odwiedzanych stron
        internetowych lub domen i są przechowywane przez przeglądarkę na komputerze użytkownika. Ciasteczko jest głównie
        używane do przechowywania informacji o użytkowniku podczas lub po jego wizycie w ofercie online. Przechowywane
        informacje mogą obejmować na przykład ustawienia językowe na stronie internetowej, status logowania, koszyk
        zakupowy lub miejsce, w którym obejrzano film. Termin „ciasteczka” obejmuje także inne technologie, które pełnią
        te same funkcje co ciasteczka (np. gdy informacje o użytkowniku są przechowywane za pomocą pseudonimowych
        identyfikatorów online, nazywanych również „identyfikatorami użytkownika”).</p>
      <p>Wyróżnia się następujące typy ciasteczek i funkcje:</p>
      <ul>
        <li><strong>Ciastka tymczasowe (również: sesyjne lub sesyjne ciasteczka)<br></strong>Ciastka tymczasowe są
          usuwane najpóźniej po opuszczeniu oferty online przez użytkownika i zamknięciu przeglądarki.
        </li>
        <li><strong>Ciastka trwałe<br></strong>Ciastka trwałe pozostają zapisane nawet po zamknięciu przeglądarki. Na
          przykład, status logowania może być zapisany lub preferowane treści mogą być wyświetlane bezpośrednio, gdy
          użytkownik ponownie odwiedza stronę internetową. Zainteresowania użytkowników, które są używane do pomiaru
          zasięgu lub celów marketingowych, mogą także być zapisane w takim ciasteczku.
        </li>
        <li><strong>Ciastka pierwszej strony<br></strong>Ciastka pierwszej strony są ustawiane przez nas.</li>
        <li><strong>Ciastka stron trzecich (również: ciasteczka stron trzecich)<br></strong>Ciastka stron trzecich są
          głównie używane przez reklamodawców (tzw. strony trzecie) do przetwarzania informacji o użytkowniku.
        </li>
        <li><strong>Ciastka konieczne (również: niezbędne lub ściśle niezbędne)<br></strong>Ciastka mogą być absolutnie
          niezbędne do działania strony internetowej (np. do zapisywania logowań lub innych wpisów użytkownika lub z
          powodów bezpieczeństwa).
        </li>
        <li><strong>Ciastka statystyczne, marketingowe i personalizacyjne<br></strong>Ciastka są także ogólnie używane
          do pomiaru zasięgu, gdy zainteresowania lub zachowanie użytkownika (np. oglądanie określonych treści,
          korzystanie z funkcji itp.) są zapisywane w profilu użytkownika na poszczególnych stronach internetowych.
          Takie profile są używane na przykład do wyświetlania użytkownikom treści, które odpowiadają ich potencjalnym
          zainteresowaniom. Ten proces nazywany jest także „śledzeniem”, tj. śledzeniem potencjalnych zainteresowań
          użytkowników. Jeśli używamy ciasteczek lub technologii „śledzenia”, poinformujemy Cię osobno w naszej
          deklaracji ochrony danych lub przy uzyskiwaniu zgody.
        </li>
      </ul>
      <p><strong>Uwagi dotyczące podstawy prawnej:</strong>&nbsp;Podstawa prawna, na podstawie której przetwarzamy Twoje
        dane osobowe za pomocą ciasteczek, zależy od tego, czy prosimy o Twoją zgodę. Jeśli tak jest i zgadzasz się na
        używanie ciasteczek, podstawą prawną przetwarzania Twoich danych jest wyrażona zgoda. W przeciwnym razie dane
        przetwarzane za pomocą ciasteczek będą przetwarzane na podstawie naszych uzasadnionych interesów (np. w celu
        komercyjnej obsługi naszej oferty online i jej ulepszania) lub jeżeli użycie ciasteczek jest niezbędne do
        wypełnienia naszych zobowiązań umownych.</p>
      <p><strong>Okres przechowywania:</strong>&nbsp;Jeśli nie podajemy Ci wyraźnych informacji o okresie przechowywania
        ciasteczek trwałych (np. w ramach tzw. zgody na ciasteczka), zakładaj, że okres przechowywania może wynieść do
        dwóch lat.</p>
      <p>Ogólne informacje na temat cofnięcia zgody i sprzeciwu (opt-out): W zależności od tego, czy przetwarzanie
        odbywa się na podstawie zgody, czy upoważnienia prawnego, masz możliwość w każdej chwili cofnięcia zgody lub
        sprzeciwu wobec przetwarzania Twoich danych za pomocą technologii ciasteczek (łącznie określane jako „opt-out”).
        Możesz najpierw zgłosić sprzeciw za pomocą ustawień swojej przeglądarki, na przykład poprzez wyłączenie używania
        ciasteczek (co może również ograniczyć funkcjonalność naszej oferty online). Sprzeciw wobec używania ciasteczek
        do celów marketingowych online można także zgłosić za pomocą różnych usług, zwłaszcza w przypadku śledzenia,
        poprzez strony https://optout.aboutads.info i https://www.youronlinechoices.com/.</p>
      <p>Przetwarzanie danych ciasteczek na podstawie zgody: Korzystamy z procesu zarządzania zgodą na ciasteczka, w
        ramach którego użytkownicy wyrażają zgodę na używanie ciasteczek lub sprzeciwiają się ich używaniu. Możesz w
        każdej chwili wycofać swoją zgodę lub zmienić ustawienia ciasteczek w dowolnym momencie na naszej stronie (link
        do ustawień zarządzania ciasteczkami).</p>
      <p><strong>Wykorzystywanie innych narzędzi analitycznych i marketingowych</strong><br>Również w ramach tego
        procesu korzystamy z platform analitycznych i marketingowych, aby jeszcze dokładniej dostosować treści i usługi
        na stronie internetowej do Twoich potrzeb. Z tego względu dla wygody użytkowników podjęliśmy następujące
        działania ochrony prywatności:</p>
      <ul>
        <li>Analiza i reklama za pomocą Google Analytics i Google Ads</li>
        <li>Marketing i reklama (np. za pomocą Adform, Clickdimension)</li>
        <li>Niektóre elementy platformy Google i innych usług (np. przy wyświetlaniu reklam)</li>
      </ul>
      <h3 class="wp-block-heading"><strong>Polityka prywatności&nbsp;</strong>dla szyfrowania SSL/TLS</h3>
      <p>Ta strona internetowa używa szyfrowania SSL/TLS w celu zapewnienia bezpieczeństwa i ochrony transmisji poufnych
        danych, takich jak zapytania, które wysyłasz do nas jako operatora strony. Połączenie szyfrowane możesz
        rozpoznać po tym, że adres w pasku przeglądarki zmienia się z „http://” na „https://” oraz pojawia się symbol
        kłódki w pasku przeglądarki.</p>
      <p>Jeśli szyfrowanie SSL lub TLS jest aktywne, dane, które przesyłasz do nas, nie mogą być odczytane przez osoby
        trzecie.</p>

      <h3 class="wp-block-heading">Polityka prywatności dla Google Analytics</h3>
      <p>Ta strona internetowa używa Google Analytics, usługi analityki internetowej świadczonej przez Google Ireland
        Limited. Jeśli osoba odpowiedzialna za przetwarzanie danych na tej stronie znajduje się poza Europejskim
        Obszarem Gospodarczym lub Szwajcarią, przetwarzanie danych Google Analytics odbywa się przez Google LLC. Google
        LLC i Google Ireland Limited są dalej nazywane „Google”.</p>
      <p>Używamy uzyskanych statystyk, aby poprawić naszą ofertę i uczynić ją bardziej interesującą dla użytkowników. Ta
        strona internetowa używa także Google Analytics do analizy odwiedzin na różnych urządzeniach, co odbywa się za
        pomocą identyfikatora użytkownika. Jeśli masz konto Google, możesz dezaktywować analizę między urządzeniami w
        ustawieniach, w sekcji „Moje dane”, „Dane osobowe”.</p>
      <p>Podstawą prawną korzystania z Google Analytics jest artykuł 6 ust. 1 pkt. 1 lit. f RODO. Adres IP przesyłany
        przez Twoją przeglądarkę w ramach Google Analytics nie jest łączony z innymi danymi Google. Pragniemy zaznaczyć,
        że na tej stronie Google Analytics zostało rozszerzone o kod „_anonymizeIp();”, aby zapewnić anonimowe zbieranie
        adresów IP. Oznacza to, że adresy IP są dalej przetwarzane w formie skróconej, co uniemożliwia ich powiązanie z
        osobą. Jeśli dane zebrane o Tobie będą miały charakter osobowy, zostaną one natychmiast wykluczone, a dane
        osobowe natychmiast usunięte.</p>
      <p>Tylko w wyjątkowych przypadkach pełny adres IP będzie przesyłany na serwer Google w USA i tam skracany. Na
        zlecenie operatora tej strony, Google wykorzysta te informacje do oceny korzystania ze strony, sporządzania
        raportów o aktywności na stronie oraz do świadczenia innych usług związanych z aktywnością na stronie i
        korzystaniem z internetu dla operatora strony.</p>
      <p>Google Analytics używa plików cookie. Informacje wygenerowane przez plik cookie dotyczące korzystania z tej
        strony internetowej są zwykle przesyłane na serwer Google w USA i przechowywane tam. Możesz zapobiec
        przechowywaniu plików cookie, ustawiając odpowiednio oprogramowanie swojej przeglądarki; jednakże chcielibyśmy
        zaznaczyć, że w takim przypadku nie będziesz mógł w pełni korzystać ze wszystkich funkcji tej strony. Możesz
        także zapobiec zbieraniu danych przez Google Analytics, które są generowane przez plik cookie i dotyczą
        korzystania z tej strony (w tym adresu IP), oraz ich przetwarzaniu przez Google, pobierając dostępny wtyczkę do
        przeglądarki pod następującym linkiem i instalując ją: dezaktywacja Google Analytics.</p>
      <p>Możesz także zapobiec używaniu Google Analytics, klikając w ten link: Dezaktywuj Google Analytics. Spowoduje to
        zapisanie pliku cookie typu opt-out na Twoim nośniku danych, który zapobiega przetwarzaniu danych osobowych
        przez Google Analytics. Należy pamiętać, że jeśli usuniesz wszystkie pliki cookie na swoim urządzeniu, pliki
        cookie opt-out również zostaną usunięte, czyli będziesz musiał ponownie ustawić pliki opt-out, jeśli nadal
        chcesz zapobiec zbieraniu danych w ten sposób. Pliki cookie opt-out są ustawiane per przeglądarka i
        komputer/urządzenie i dlatego muszą być aktywowane osobno dla każdej przeglądarki, komputera lub innego
        urządzenia.</p>

      <h3 class="wp-block-heading">Oświadczenie o ochronie danych dla korzystania z Google Web Fonts</h3>
      <p>Ta strona używa tzw. Google Web Fonts, które są dostarczane przez Google, w celu jednolitego wyświetlania
        czcionek. Kiedy odwiedzasz stronę, Twoja przeglądarka ładuje wymagane czcionki webowe do swojej pamięci
        podręcznej, aby poprawnie wyświetlić teksty i czcionki. Jeśli Twoja przeglądarka nie obsługuje czcionek
        webowych, Twój komputer użyje czcionki standardowej.</p>
      <p>Więcej informacji o Google Web Fonts można znaleźć pod adresem https://developers.google.com/fonts/faq oraz w
        polityce prywatności Google: https://www.google.com/policies/privacy/</p>

      <h3 class="wp-block-heading">Google Tag Manager</h3>
      <p>Google Tag Manager to rozwiązanie, dzięki któremu możemy zarządzać tzw. tagami strony internetowej za pomocą
        interfejsu i np. integrować Google Analytics i inne usługi marketingowe Google z naszą ofertą online. Sam tag
        manager, który implementuje tagi, nie przetwarza żadnych danych osobowych użytkowników. Odnośnie przetwarzania
        danych osobowych użytkowników należy odwołać się do następujących informacji na temat usług Google. Zasady
        użytkowania: <a href="https://www.google.com/intl/de/tagmanager/use-policy.html">https://www.google.com/intl/de/tagmanager/use-policy.html</a>.
      </p>

      <h3 class="wp-block-heading">Konferencje audio i wideo</h3>
      <p>Używamy usług konferencyjnych audio i wideo do komunikacji z naszymi użytkownikami i innymi. W szczególności
        możemy je wykorzystać do przeprowadzania konferencji audio i wideo, spotkań wirtualnych oraz szkoleń, takich jak
        webinary.</p>
      <p>Używamy tylko takich usług, które zapewniają odpowiednią ochronę danych. Oprócz tej polityki prywatności
        obowiązują również warunki usług używanych usług, takie jak regulaminy czy polityki ochrony danych.</p>
      <p>W szczególności używamy Zoom, usługi amerykańskiej firmy Zoom Video Communications Inc. Zoom zapewnia również
        prawa na mocy europejskiego Ogólnego Rozporządzenia o Ochronie Danych (RODO) dla użytkowników w Szwajcarii.
        Więcej informacji na temat rodzaju, zakresu i celu przetwarzania danych można znaleźć w wytycznych ochrony
        danych Zoom pod tym linkiem: <a href="https://zoom.us/de-de/privacy.html">zasady ochrony danych Zoom</a> oraz na
        stronie „<a href="https://zoom.us/docs/de-de/privacy-and-legal.html">Przepisy prawne i ochrona danych</a>”</p>

      <h3 class="wp-block-heading">Podstawa prawna przetwarzania</h3>
      <p>Art. 6 ust. 1 lit. a RODO stanowi podstawę prawną dla operacji przetwarzania, w których uzyskujemy zgodę na
        przetwarzanie w określonym celu. Jeśli przetwarzanie danych osobowych jest konieczne do wykonania umowy, której
        stroną jest osoba, której dane dotyczą, jak ma to miejsce na przykład w operacjach przetwarzania danych
        niezbędnych do dostawy towarów lub świadczenia innych usług lub świadczenia, przetwarzanie odbywa się na
        podstawie art. 6 ust. 1 lit. b RODO. Podobnie jest w przypadku operacji przetwarzania danych niezbędnych do
        podjęcia działań przed zawarciem umowy, na przykład w przypadku zapytań o nasze produkty lub usługi. Jeśli nasza
        firma jest zobowiązana do przetwarzania danych osobowych na mocy obowiązku prawnego, np. w celu wypełnienia
        obowiązków podatkowych, przetwarzanie odbywa się na podstawie art. 6 ust. 1 lit. c RODO. W rzadkich przypadkach
        przetwarzanie danych osobowych może być konieczne w celu ochrony żywotnych interesów osoby, której dane dotyczą,
        lub innej osoby fizycznej. Takie sytuacje mogą wystąpić na przykład, jeśli w naszej firmie dojdzie do wypadku i
        trzeba będzie przekazać lekarzowi, szpitalowi lub innemu podmiotowi niezbędne dane, takie jak imię, wiek,
        szczegóły ubezpieczenia zdrowotnego lub inne dane istotne dla życia. Wówczas przetwarzanie opiera się na art. 6
        ust. 1 lit. d RODO. Wreszcie, operacje przetwarzania mogą opierać się na art. 6 ust. 1 lit. f RODO. Operacje
        przetwarzania, które nie są objęte żadną z wyżej wymienionych podstaw prawnych, opierają się na tej podstawie
        prawnej, jeśli przetwarzanie jest konieczne do ochrony uzasadnionego interesu naszej firmy lub strony trzeciej,
        pod warunkiem że interesy, podstawowe prawa i wolności osoby, której dane dotyczą, nie przeważają. Przetwarzanie
        w szczególności jest dozwolone, ponieważ zostało wyraźnie wskazane przez ustawodawcę europejskiego. W związku z
        tym uznano, że uzasadniony interes może występować, jeśli osoba, której dane dotyczą, jest klientem
        administratora danych (rozważenie 47 ust. 2 RODO).</p>

      <h3 class="wp-block-heading">Uzasadnione interesy w przetwarzaniu, które realizuje administrator lub strona
        trzecia</h3>
      <p>Jeśli przetwarzanie danych osobowych odbywa się na podstawie art. 6 ust. 1 lit. f RODO, naszym uzasadnionym
        interesem jest prowadzenie działalności gospodarczej na korzyść dobrostanu wszystkich naszych pracowników i
        akcjonariuszy.</p>

      <h3 class="wp-block-heading">Okres przechowywania danych osobowych</h3>
      <p>Kryterium przechowywania danych osobowych stanowi odpowiedni okres przechowywania wymagany przez przepisy
        prawa. Po upływie tego okresu odpowiednie dane zostaną rutynowo usunięte, chyba że będą one nadal potrzebne do
        realizacji umowy lub podjęcia działań w celu zawarcia umowy.</p>

      <h3 class="wp-block-heading">Prawa dostępu, poprawiania, usunięcia i ograniczenia</h3>
      <p>Ważne jest, aby dane osobowe, które posiadamy na Twój temat, były dokładne i aktualne. Prosimy, abyś informował
        nas o wszelkich zmianach swoich danych osobowych w trakcie procesu rekrutacyjnego.</p>
      <p>W określonych okolicznościach masz prawo do:</p>
      <ul>
        <li>Żądania dostępu do swoich danych osobowych (tzw. „żądanie dostępu do danych”). Umożliwia Ci to otrzymanie
          kopii danych osobowych, które posiadamy na Twój temat, oraz sprawdzenie, czy przetwarzamy je zgodnie z prawem.
        </li>
        <li>Żądania poprawienia danych osobowych, które posiadamy na Twój temat. Umożliwia Ci to poprawienie
          niekompletnych lub niedokładnych danych, które posiadamy.
        </li>
        <li>Żądania usunięcia danych osobowych. Umożliwia Ci to zażądanie usunięcia danych osobowych, gdy nie mamy
          dobrego powodu, by nadal je przetwarzać. Masz także prawo zażądać usunięcia danych osobowych, jeśli
          skorzystasz z prawa do sprzeciwu wobec przetwarzania (patrz poniżej).
        </li>
        <li>Sprzeciwu wobec przetwarzania danych osobowych, jeśli przetwarzamy je na podstawie uzasadnionego interesu
          (lub interesów strony trzeciej) i istnieje coś w Twojej szczególnej sytuacji, co sprawia, że chcesz sprzeciwić
          się przetwarzaniu danych na tej podstawie. Masz także prawo sprzeciwić się przetwarzaniu danych osobowych w
          celach marketingu bezpośredniego.
        </li>
        <li>Żądania ograniczenia przetwarzania danych osobowych. Umożliwia Ci to zawieszenie przetwarzania danych
          osobowych na Twój temat, na przykład, jeśli chcesz sprawdzić ich dokładność lub przyczynę przetwarzania.
        </li>
        <li>Żądania przeniesienia swoich danych osobowych do innej strony.</li>
      </ul>
      <p>Jeśli chcesz przejrzeć, zweryfikować, poprawić lub żądać usunięcia swoich danych osobowych, sprzeciwić się
        przetwarzaniu swoich danych osobowych lub zażądać, byśmy przenieśli kopię Twoich danych osobowych do innej
        strony, skontaktuj się z nami pod adresem admin&#64;jober24.ch</p>
      <p>Możemy poprosić Cię o dostarczenie określonych informacji w celu potwierdzenia Twojej tożsamości i zapewnienia
        prawa do dostępu do danych (lub skorzystania z innych praw). To jest dodatkowy środek zabezpieczający, który
        zapewnia, że dane osobowe nie zostaną ujawnione osobie, która nie ma do nich prawa.</p>

      <h3 class="wp-block-heading">Skargi</h3>
      <p>Jeśli masz jakiekolwiek wątpliwości lub skargi dotyczące ochrony danych osobowych, powinieneś najpierw zgłosić
        je do nas drogą mailową na adres: <a href="mailto:admin@jober24.ch">admin&#64;jober24.ch</a> lub pocztą: Jober24
        Group GmbH, Neuhofstrasse 12, 6340 Baar.</p>
      <p>Jeśli masz skargę lub obawy, które nie zostały rozwiązane wewnętrznie, możesz zgłosić je do organu nadzorczego
        ds. ochrony danych osobowych. Odwiedź stronę www.ico.org po więcej informacji.</p>

      <h3 class="wp-block-heading">Zmiany w tej Polityce prywatności</h3>
      <p>Wszelkie zmiany, które w przyszłości wprowadzimy do naszej Polityki prywatności, będą publikowane na tej
        stronie.</p>

    </div>
  </div>
</div>

